/* TAGS */

* {
  padding: 0;  
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* HEADER CONTAINER */

.header-container {
  width: 100%;
  background-color: #1f2937;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  
  margin: auto;
  width: 50%;
}

/* HEADER SHARED RULES */ 
.header-bar, .hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* HEADER BAR */

.header-bar {
  margin-top: 16px;
  flex: 0 0 40px;
}

.header-bar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
}

/* HERO CONTAINER */

.hero-container {
  margin-bottom: 96px; 
  gap: 48px;
}

.hero-text {
  flex: 1 1 30%;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 70%;
  overflow: hidden;
  max-width: 650px;
}

.hero-image img {
  object-fit: 
  flex: auto; 
  max-width: 100%;
  max-height: 100%;
}
