/* TAGS */

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* HEADER CONTAINER */

.header-container {
  width: 100%;
  background-color: #1f2937;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;

  margin: auto;
  width: 70%;
}

/* HEADER SHARED RULES */
.header-bar,
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* HEADER BAR */

.header-bar {
  margin-top: 16px;
  flex: 0 0 40px;
}

.header-bar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
}

/* HERO CONTAINER */

.hero-container {
  margin-bottom: 96px;
  gap: 96px;
}

.hero-text {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  text-wrap: pretty;
}

.hero-text a {
  font-size: 18px;
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 8px;

  width: fit-content;

  padding: 8px 24px 8px 24px;
  margin-top: 16px;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 70%;
  overflow: hidden;
  max-width: 650px;
}

.hero-image img {
  object-fit: contain;
  flex: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

/* Random Info Section */

.random-info-container {
  width: 100%;
  background-color: #f9faf8;
}

.random-info-content {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;

  padding-top: 48px;
  padding-bottom: 96px;
  width: 60%;
}

.random-info-container .random-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
} 

/* Card Container */

.card-container {
  display: flex;
  gap: 48px;
}

.random-info-container .card-text {
  flex: auto;
  font-size: 18px;
  color: #1f2937;
}

.random-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 1 200px;
}

.card-image {
  max-width: 150px; 
  max-height: 150px;
  flex: auto;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

/* Quote Container */

.quote-container {
  width: 100%;
  background-color: #e5e7eb;
  padding-top: 128px;
  padding-bottom: 128px;
}

.quote-content {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
}

.quote-secondary-text {
  font-size: 28px;
  color: #1f2a38;
  margin-left: auto;
}