/* TAGS */

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* HEADER CONTAINER */

.header-container {
  width: 100%;
  background-color: #1f2937;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  
  margin: auto;
  width: 50%;
}

/* HEADER SHARED RULES */ 
.header-bar, .hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* HEADER BAR */

.header-bar {
  margin-top: 16px;
  flex: 0 0 40px;
}

.header-bar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
}

/* HERO CONTAINER */

.hero-container {
  margin-bottom: 96px; 
  gap: 48px;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text a {
  font-size: 18px;
  color: #e5e7eb;
}
